@model IEnumerable<InventoryFeed.Models.DB.tblInventoryFeedProcess>

@{
    Layout = "";
}


<script type="text/javascript" language="javascript" class="init">
	    $(function () {
	        $('#example2').DataTable({
	            "stateSave": true,
	            "bFilter": false,
                "paging": false
	        });


	    });
</script>

<table id="example2" class="stripe row-border order-column" cellspacing="0" width="100%">
    <thead>
    <tr align="center">
        <th>
            PROCESS ID
        </th>
        <th>
            IF ID
        </th>
        <th>
            TIME
        </th>
        <th>
            DATE UPDATED
        </th>
        <th>
            STATUS
        </th>
        
    </tr>
     </thead>
    <tbody>



@foreach (var item in Model) {
 
    
    string status = Html.DisplayFor(model => item.status).ToString();
    string stat_text = "", bcolor_status = "", color_status="";

    if (status == "0") { stat_text = "Pending"; bcolor_status = "gray"; color_status = "white"; }
    else if (status == "1") { stat_text = "Initializing"; bcolor_status = "yellow"; color_status = "white"; }
    else if (status == "2") { stat_text = "Preparing file"; bcolor_status = "green"; color_status = "white"; }
    else if (status == "3") { stat_text = "Sent"; bcolor_status = "blue"; color_status = "white"; }
    else if (status == "999") { stat_text = "Failed"; bcolor_status = "red"; color_status = "white"; }
                
                
     
    <tr align="center" style="background-color: @bcolor_status; color: @color_status;">
        <td style="color:black">
            @Html.DisplayFor(modelItem => item.ifp_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.if_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_split)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datetime_updated)
        </td>
        <td>
           
            @stat_text
        </td>
       
    </tr>
}
        </tbody>

</table>

 